div#calc {
   display: flex;
   flex-wrap: wrap-reverse;
   /*justify-content: space-between;*/
}
div#display {
    outline: 2px solid black;
    padding: 3%;
    min-height: 20px;
}

div.button {
    width: 20%;
    outline: 2px solid black;
    text-align: center;
    padding: 2.5%;
}

div.button:hover {
    background-color: black;
    color: white;
}

div.selected_button {
    width: 20%;
    outline: 2px solid black;
    text-align: center;
    padding: 2.5%;
    background-color: black;
    color: white;
}
